body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    margin: 0;
    background-color: lightgray;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    width: 400px;
    height: 600px;
    border: 8px solid black;
    border-radius: 10px;
}